.home {
    background: #f4feff;
    inset: 0;
    padding-top: 130px;
}

.home .card {
    background-color: transparent;
    border: none;
    z-index: 999;
}

.home .card .card__tittle {
    color: #2b044d;
    font-size: 16px;
    text-transform: uppercase;
    background-color: transparent;
    border-bottom: none;
}

.home .card .card-title {
    font-size: 65px;
    font-weight: 700;
    color: #2b044d;
    font-family: "Nunito", sans-serif;
    line-height: 1.3;
}

.home .card .card-text {
    padding-right: 83px;
    margin-bottom: 54px;
}
.home .home__links{
    position:relative;
}
.btn-home{
    position: relative;
    background: #f9218d;
    color: #fff;
    padding: 19px 42px;
    border-radius: 30px;
    transition: color 0.4s linear;
    overflow: hidden;
    display: inline-block;
    z-index: 1;
    margin: 0;
}

.btn-home::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    background: #da1276;
    transition: transform 0.5s ease;
    transition-timing-function: cubic-bezier(.5, 1.6, .4, .7);
    transform-origin: 0 0;
    transform: scaleX(0);
}

.btn-home:hover::before {
    transform: scaleX(1);
    color: #fff;
    z-index: -1;
}

.home .play__home{
    position: absolute;
    display: inline-block;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    color: #fff;
    background-color: #d852e8;
    margin-left: 16px;
}

.home .play__home i{
    font-size: 20px;
    top: 33%;
    left: 39%;
    position: absolute;
}
.home .home__img{
    position: relative;
    right: -63px;
}